<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot CI/CD Demo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 100px;
        }
        h1 {
            font-size: 32px;
            font-weight: bold;
        }
        p {
            font-size: 20px;
        }
        a {
            color: blue;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h1>Spring boot Java application using Maven</h1>
<p>Application deployed on Kubernetes using <a href="https://argo-cd.readthedocs.io/ [argo-cd.readthedocs.io]">Argo CD</a></p>
</body>
</html>
